@{
    Layout = "~/Views/Shared/LayoutWebsite.cshtml";
}
    <section class="news-detail-header-section text-center bg-dark">
            <!-- <div class="section-overlay"></div> -->

            <div class="container">
                <div class="row">

                    <div class="col-lg-20 col-23">
                        <h6 class="text-white">Frequently Ask Questions (FAQ)</h6>
                    </div>

                </div>
            </div>
        </section>

                        <div class="news-block-title mb-2">
                            <h6><a href="" class="news-block-title-link">1. Bagaimana pembelajaran di MO?</a></h6>
                        </div>

                        <div class="news-block-body">
                            <p>Pembelajaran di MO dilakukan dengan ada pembelajaran Teori dan Praktikum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>