@model ProjekTeFa.Models.TempatKerja
@{
    Layout = "~/Views/Shared/LayoutServiceAdvisor.cshtml";
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Create Tempat Kerja</h1>
    <a asp-controller="MasterTempatKerja" asp-action="Index">
        <button type="button" class="btn btn-outline-primary mb-4" style="width: 150px">Back</button>
    </a>
</div>

<div class="row mb-3">
    <div class="col-12">
        <div class="card" style="padding: 20px 20px 20px 20px;">
            <form method="post" class="p-4">
                <div class="mb-3">
                    <label for="" class="form-label">Keterangan Tempat</label>
                    <input type="text" class="form-control" asp-for="keterangan_tempat" required>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Jenis Kendaraan</label>
                    <select class="form-control" asp-for="jenis_tempat" required>
                        <option value="">-- Pilih Jenis Kendaraan --</option>
                        <option value="Sepeda Motor">Sepeda Motor</option>
                        <option value="Mobil">Mobil</option>
                    </select>
                </div>
                <div class="d-grid gap-2 mt-4">
                    <button type="submit" class="btn btn-success" style="width: 150px; align-items:center">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
